__pycache__
*.pyc
*.pyo
*.egg-info
dist/
build/
.git
.gitignore
.dockerignore
.env
.env.*
!.env.example
*.md
.vscode/
.idea/
*.swp
*.swo
*~
app/logs/logs_data/*.txt
app/db/__pycache__/
app/utils/decorators/__pycache__/
